{% extends 'base.html.jinja2' %}

{% block header %}
  <h1>{% block title %}Edit "{{ song['title'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="title">Title</label>
    <input name="title" id="title" value="{{ request.form['title'] or song['title'] }}" required>
    <label for="author">Author</label>
    <input name="author" id="author" value="{{ request.form['author'] or song['author'] }}">
    <label for="body">Body</label>
    <textarea name="body" id="body">{{ request.form['body'] or song['body'] }}</textarea>
    <input type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('blog.delete', id=song['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}
